@{
    ViewData["Title"] = "Search Address";
}
<style>
    /* Style for the validation indicators */
    .validation-indicator {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        background-size: contain;
    }

    .green-tick {
        background-image: url('green-tick-icon.png'); /* Replace with your green tick image */
    }

    .red-cross {
        background-image: url('red-cross-icon.png'); /* Replace with your red cross image */
    }

    /* Style for the dropdown menu */
    .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        z-index: 1000;
        display: none;
        background-color: lightblue;
        color: black;
    }

        .dropdown-menu li {
            padding: 5px;
        }

            .dropdown-menu li:hover {
                background-color: #f8f9fa;
                cursor: pointer;
            }
        /* Remove underline from anchor */
        .dropdown-menu a {
            color: black;
            text-decoration: none;
        }
    /* Style for the loading spinner */
    .loadingSpinner {
        margin-left: -36px; /* Adjust this value as needed to align the spinner */
        z-index: 1001;
        position: relative;
        top: 8%; /* Vertically center the spinner */
       
    }

  
</style>
@{
    ViewData["Title"] = "Address Search";
}

<h2>Address Search</h2>

<div class="form-group">
    <label for="StreetAddress">Street Address</label>
    <div class="input-group">
        <input type="text" id="StreetAddress" class="form-control" />
     
    </div>
</div>
<div id="searchResults" class="dropdown">
    <ul class="dropdown-menu"></ul>
</div>

<div class="form-group">
    <label for="City">City</label>
    <input type="text" id="City" class="form-control" />
</div>

<div class="form-group">
    <label for="State">State</label>
    <input type="text" id="State" class="form-control" />
</div>

<div class="form-group">
    <label for="County">County</label>
    <input type="text" id="County" class="form-control" />
</div>

<hr />

<div class="form-group">
    <label for="MailStreetAddress">Mail Street Address</label>
    <div class="input-group">
        <input type="text" id="MailStreetAddress" class="form-control" />
       
    </div>
</div>
<div id="mailsearchResults" class="dropdown">
    <ul class="dropdown-menu"></ul>
</div>

<div class="form-group">
    <label for="MailCity">Mail City</label>
    <input type="text" id="MailCity" class="form-control" />
</div>

<div class="form-group">
    <label for="MailState">Mail State</label>
    <input type="text" id="MailState" class="form-control" />
</div>

<div class="form-group">
    <label for="MailCounty">Mail County</label>
    <input type="text" id="MailCounty" class="form-control" />
</div>




@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        setupAddressSearch('#StreetAddress', '#City', '#State', '#County', '#searchResults');


        // Set up address search for Mail Street Address
        setupAddressSearch('#MailStreetAddress', '#MailCity', '#MailState', '#MailCounty', '#mailsearchResults');

    </script>
}
